<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{184,148},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{265,148},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3ziti_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{636,148},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengjitiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,53}</string>
                <key>spriteSourceSize</key>
                <string>{215,53}</string>
                <key>textureRect</key>
                <string>{{95,36},{215,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,4}</string>
                <key>spriteSourceSize</key>
                <string>{471,4}</string>
                <key>textureRect</key>
                <string>{{0,0},{471,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,57}</string>
                <key>spriteSourceSize</key>
                <string>{435,57}</string>
                <key>textureRect</key>
                <string>{{0,91},{435,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{352,148},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoyou2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{408,148},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haoyoutankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,738}</string>
                <key>spriteSourceSize</key>
                <string>{595,738}</string>
                <key>textureRect</key>
                <string>{{0,404},{595,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,29}</string>
                <key>spriteSourceSize</key>
                <string>{92,29}</string>
                <key>textureRect</key>
                <string>{{621,0},{92,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jianotu@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,177}</string>
                <key>spriteSourceSize</key>
                <string>{60,177}</string>
                <key>textureRect</key>
                <string>{{576,148},{60,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantouyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{517,0},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantouzuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{538,0},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jujue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{92,36}</string>
                <key>textureRect</key>
                <string>{{774,0},{92,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaveline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,29}</string>
                <key>textureRect</key>
                <string>{{713,0},{61,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>online.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,29}</string>
                <key>spriteSourceSize</key>
                <string>{62,29}</string>
                <key>textureRect</key>
                <string>{{559,0},{62,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>queren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{0,148},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recentlyTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,57}</string>
                <key>spriteSourceSize</key>
                <string>{521,57}</string>
                <key>textureRect</key>
                <string>{{435,91},{521,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqinghaoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,55}</string>
                <key>spriteSourceSize</key>
                <string>{155,55}</string>
                <key>textureRect</key>
                <string>{{310,36},{155,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{471,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{491,0},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,49}</string>
                <key>spriteSourceSize</key>
                <string>{95,49}</string>
                <key>textureRect</key>
                <string>{{0,36},{95,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,36}</string>
                <key>spriteSourceSize</key>
                <string>{92,36}</string>
                <key>textureRect</key>
                <string>{{866,0},{92,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxInvite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,55}</string>
                <key>spriteSourceSize</key>
                <string>{155,55}</string>
                <key>textureRect</key>
                <string>{{620,36},{155,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yishenqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,55}</string>
                <key>spriteSourceSize</key>
                <string>{155,55}</string>
                <key>textureRect</key>
                <string>{{775,36},{155,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxiyaoqing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,55}</string>
                <key>spriteSourceSize</key>
                <string>{155,55}</string>
                <key>textureRect</key>
                <string>{{465,36},{155,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuijin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{464,148},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuijin1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{520,148},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friendlayer.png</string>
            <key>size</key>
            <string>{958,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1c12796ce3b5608b2e157a639e308bf:ae6594a82a45100a3449eaf91105b8ff:73b4e1180da3f59b53132ccc6b662494$</string>
            <key>textureFileName</key>
            <string>friendlayer.png</string>
        </dict>
    </dict>
</plist>
