<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,433},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KillIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{111,0},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>No1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{167,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>No2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{287,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>No3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{227,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,24}</string>
                <key>spriteSourceSize</key>
                <string>{65,24}</string>
                <key>textureRect</key>
                <string>{{20,0},{65,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chakanqunpaihang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{0,215},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanwei-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanwei-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{715,0},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhuishouye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{598,133},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faqitz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{251,133},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,889}</string>
                <key>spriteSourceSize</key>
                <string>{596,889}</string>
                <key>textureRect</key>
                <string>{{256,433},{596,889}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{880,298},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendImg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{824,298},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,69}</string>
                <key>spriteSourceSize</key>
                <string>{254,69}</string>
                <key>textureRect</key>
                <string>{{455,64},{254,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>groupTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,67}</string>
                <key>spriteSourceSize</key>
                <string>{205,67}</string>
                <key>textureRect</key>
                <string>{{250,64},{205,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{184,64},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jisha-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{347,0},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jisha-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,64}</string>
                <key>spriteSourceSize</key>
                <string>{184,64}</string>
                <key>textureRect</key>
                <string>{{531,0},{184,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paimingtiao-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,84}</string>
                <key>spriteSourceSize</key>
                <string>{528,84}</string>
                <key>textureRect</key>
                <string>{{0,298},{528,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paimingtiao-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,83}</string>
                <key>spriteSourceSize</key>
                <string>{528,83}</string>
                <key>textureRect</key>
                <string>{{347,215},{528,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{617,298},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{85,0},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxianhkuang-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{528,298},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldImg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{768,298},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldImg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,135}</string>
                <key>spriteSourceSize</key>
                <string>{56,135}</string>
                <key>textureRect</key>
                <string>{{712,298},{56,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>worldTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,69}</string>
                <key>spriteSourceSize</key>
                <string>{251,69}</string>
                <key>textureRect</key>
                <string>{{0,133},{251,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranklist.png</string>
            <key>size</key>
            <string>{945,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8908e4c90b4a4488e35686c6a30a4e45:d35c1547d4f9e82ac985ecf072d2945e:2c3d0d3b751d91ed674cf8b05741be05$</string>
            <key>textureFileName</key>
            <string>ranklist.png</string>
        </dict>
    </dict>
</plist>
