<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{528,155},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{419,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{687,0},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{515,0},{95,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{0,72},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,61}</string>
                <key>spriteSourceSize</key>
                <string>{62,61}</string>
                <key>textureRect</key>
                <string>{{357,0},{62,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{610,0},{77,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{80,72},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>No1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{181,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>No2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{241,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>No3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{121,0},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,24}</string>
                <key>spriteSourceSize</key>
                <string>{65,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jisha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{65,0},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paimingtiao-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,84}</string>
                <key>spriteSourceSize</key>
                <string>{528,84}</string>
                <key>textureRect</key>
                <string>{{0,155},{528,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paimingtiao-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,83}</string>
                <key>spriteSourceSize</key>
                <string>{528,83}</string>
                <key>textureRect</key>
                <string>{{154,72},{528,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{301,0},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subdomain.png</string>
            <key>size</key>
            <string>{784,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:840a3722a79e137639fe2bc2c2a49511:53b06346c9b85c33b41e9479a8d06ab4:979fc14dbebee2822ab7377db00818cd$</string>
            <key>textureFileName</key>
            <string>subdomain.png</string>
        </dict>
    </dict>
</plist>
