<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Grading_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{218,0},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{486,0},{84,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{391,0},{95,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,73}</string>
                <key>spriteSourceSize</key>
                <string>{80,73}</string>
                <key>textureRect</key>
                <string>{{570,0},{80,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,61}</string>
                <key>spriteSourceSize</key>
                <string>{62,61}</string>
                <key>textureRect</key>
                <string>{{156,0},{62,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{314,0},{77,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grading_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{650,0},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,377}</string>
                <key>spriteSourceSize</key>
                <string>{657,377}</string>
                <key>textureRect</key>
                <string>{{95,74},{657,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,74},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{44,0},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{100,0},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{752,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262b65c493bab8a988a83d310ac8fa47:f35a86b9981798f69b46da007b712549:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
