<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,52}</string>
                <key>spriteSourceSize</key>
                <string>{69,52}</string>
                <key>textureRect</key>
                <string>{{956,0},{69,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DoubleGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{694,78},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameResult_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,126}</string>
                <key>spriteSourceSize</key>
                <string>{580,126}</string>
                <key>textureRect</key>
                <string>{{750,470},{580,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameResult_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,129}</string>
                <key>spriteSourceSize</key>
                <string>{581,129}</string>
                <key>textureRect</key>
                <string>{{580,596},{581,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameResult_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,129}</string>
                <key>spriteSourceSize</key>
                <string>{580,129}</string>
                <key>textureRect</key>
                <string>{{0,596},{580,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OverFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,501}</string>
                <key>spriteSourceSize</key>
                <string>{574,501}</string>
                <key>textureRect</key>
                <string>{{1161,596},{574,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Over_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,688}</string>
                <key>spriteSourceSize</key>
                <string>{596,688}</string>
                <key>textureRect</key>
                <string>{{1240,1097},{596,688}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,52}</string>
                <key>spriteSourceSize</key>
                <string>{69,52}</string>
                <key>textureRect</key>
                <string>{{1025,0},{69,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>abandonBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,35}</string>
                <key>spriteSourceSize</key>
                <string>{96,35}</string>
                <key>textureRect</key>
                <string>{{484,0},{96,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baozou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,109}</string>
                <key>spriteSourceSize</key>
                <string>{750,109}</string>
                <key>textureRect</key>
                <string>{{0,361},{750,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beacon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{898,0},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>benjupaiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,559}</string>
                <key>spriteSourceSize</key>
                <string>{580,559}</string>
                <key>textureRect</key>
                <string>{{0,1097},{580,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bjjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,35}</string>
                <key>spriteSourceSize</key>
                <string>{158,35}</string>
                <key>textureRect</key>
                <string>{{326,0},{158,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{1041,78},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengkuangshalu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,109}</string>
                <key>spriteSourceSize</key>
                <string>{750,109}</string>
                <key>textureRect</key>
                <string>{{750,361},{750,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fxjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,675}</string>
                <key>spriteSourceSize</key>
                <string>{660,675}</string>
                <key>textureRect</key>
                <string>{{580,1097},{660,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>haowan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,25}</string>
                <key>spriteSourceSize</key>
                <string>{113,25}</string>
                <key>textureRect</key>
                <string>{{213,0},{113,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{1206,0},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overloadBeacon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{840,0},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resetGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{0,78},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1584,160},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardPanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,91}</string>
                <key>spriteSourceSize</key>
                <string>{594,91}</string>
                <key>textureRect</key>
                <string>{{0,160},{594,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rewardTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,24}</string>
                <key>spriteSourceSize</key>
                <string>{213,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{213,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rysk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,44}</string>
                <key>spriteSourceSize</key>
                <string>{216,44}</string>
                <key>textureRect</key>
                <string>{{624,0},{216,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sansha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,106}</string>
                <key>spriteSourceSize</key>
                <string>{750,106}</string>
                <key>textureRect</key>
                <string>{{440,255},{750,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showoffBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,82}</string>
                <key>spriteSourceSize</key>
                <string>{347,82}</string>
                <key>textureRect</key>
                <string>{{347,78},{347,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuangsha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,109}</string>
                <key>spriteSourceSize</key>
                <string>{750,109}</string>
                <key>textureRect</key>
                <string>{{0,470},{750,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{1150,0},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{580,0},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,54}</string>
                <key>textureRect</key>
                <string>{{1094,0},{56,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1134,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{774,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1679,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{684,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{594,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1314,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1404,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1224,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1044,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{954,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{180,255},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{864,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{1494,160},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{90,255},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upLevelAnim_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,95}</string>
                <key>spriteSourceSize</key>
                <string>{90,95}</string>
                <key>textureRect</key>
                <string>{{0,255},{90,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,104}</string>
                <key>spriteSourceSize</key>
                <string>{170,104}</string>
                <key>textureRect</key>
                <string>{{270,255},{170,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vsi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,78}</string>
                <key>spriteSourceSize</key>
                <string>{571,78}</string>
                <key>textureRect</key>
                <string>{{1261,0},{571,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{1836,1785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab3c5f21fff887c7dd92dd4f618e988d:e6e806cf13edb54945cb2c043d0689c8:18314cdd2091d1ee52f21fb1c615ddab$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
