<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{0,67},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{86,67},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{93,159},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PPC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,378},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beacon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{58,0},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,113}</string>
                <key>spriteSourceSize</key>
                <string>{115,113}</string>
                <key>textureRect</key>
                <string>{{113,263},{115,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,115}</string>
                <key>spriteSourceSize</key>
                <string>{113,115}</string>
                <key>textureRect</key>
                <string>{{0,263},{113,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,103}</string>
                <key>spriteSourceSize</key>
                <string>{93,103}</string>
                <key>textureRect</key>
                <string>{{0,159},{93,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{116,0},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>overloadBeacon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{58,49}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap.png</string>
            <key>size</key>
            <string>{256,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d71a08794d83db375c6dda6b2702f959:d7ccc0b65b1c48878cbc16f68234b971:4049e6e13021a664be49d980cae8835b$</string>
            <key>textureFileName</key>
            <string>gamemap.png</string>
        </dict>
    </dict>
</plist>
